<div class="banner-idols" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/700x600/?marvel);">
  <div class="container">
    <h1>My Idols</h1>
    <p>Find and get all the most renowned heroes worldwide in one unique place!</p>
    <%= simple_form_for :search, url: myidols_idols_path, method: :get do |f| %>
      <div class="search-form-control form-group row">
        <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find your Idol" %>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @idols.each do |idol| %>
      <div class="col-sm-4">
        <%# <div class="card-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path idol.photo.key, height: 300, width: 400, crop: :fill %>
        <%= link_to idol_path(idol), class: "text-decoration-none link-dark col-4" do %>
          <div class="card-product p-0 m-3">
            <img src="https://source.unsplash.com/random/700x600/?<%= idol.name %>" class="h-100"/>
            <div class="card-product-infos w-100 h-100">
              <h2><%= idol.name %></h2>
              <h3><%= idol.power %></h3>
              <p><%= idol.description.length > 23 ? "#{idol.description.first(23)}..." : idol.description %></p>
              <h4 class="price-idol">£99.99</h4>
              <%= link_to idol_path(idol), data: {turbo_method: :delete, turbo_confirm: "Are you sure that you want to delete this item?"}, class: "text-decoration-none text-secondary" do %>
                <i class="fa-solid fa-trash opacity-75 link-secondary trash-idol"></i>
              <% end %>
              <%# </div> %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
