<div class="container mt-4 text-center">

  <h1 class="fw-bold opacity-75">Create your new idol!</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="mt-4">

        <div class="align-items-center">
          <%= simple_form_for @idol do |f| %>
            <%= f.input :name %>
            <%= f.input :power %>
            <%= f.input :address,
                        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
            %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.submit "Create Idol", class: "btn btn-primary mb-3 mt-2" %>
          <% end %>
        </div>

      </div>

        <div class="mt-3">
          <%= link_to idols_path, class: "text-decoration-none" do %>
            <i class="fa-solid fa-left-long"></i>
              Back to Feed
          <% end %>
        </div>
    </div>
  </div>
</div>
